.color-grey{
  color: #B7B7B7;
}

.navbar{
  background-color: white !important;
  z-index: 3;
}

.navbar-image{
  width: 160px;
  padding: 5px;
}

a.nav-link{
  display: flex;
  font-size: 20px;
  align-items: center;
  color: black !important;
  padding: 0px 50px !important;
}

a.nav-link.active{
  font-weight: bold;
}

.shadow-image {
  box-shadow: 0px 2px 20px 0px #000000;;
}

.text-title{
  text-align: center;
  font-weight: bold;
  color: #0C9749 !important;
}

.desc{
  font-size: 18px;
}

.text-link{
  text-align: center;
  font-weight: bold;
  color: #FFCD00 !important;
}

.footer{
  background-color: #0C9749 !important;
}

.image-footer{
  width: 200px;
}

.icon-footer-in{
  font-weight: bold;
  color: white;
  border-bottom: 5px solid #FFCD00;
}
.icon-footer-en{
  font-weight: bold;
  color: white;
}